/* AccountCreation.css */
.profile-page {
  background-image: url('./AccountCreation_img.png'); /* Path to your image */
  background-repeat: no-repeat; /* No repeat */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Fixed background */
  background-size:cover; 
  padding: 1%; 
  overflow: hidden;

}

.profile-creation-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-creation-container h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.profile-creation-form {
  margin-bottom: 20px;
  width: 100%;
}

.profile-creation-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.profile-creation-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.profile-creation-form .form-input {
  width: 90%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #641919;
  margin-left: 0.1rem;
  font-size: 1rem;
  /* left: 0; */
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

.signup-options {
  margin-top: 20px;
}

.signup-options p {
  margin-bottom: 10px;
}

.vendor-button, .buyer-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.vendor-button {
  background-color: #28a745; /* Green */
  color: white;
}

.vendor-button:hover {
  background-color: #218838; /* Darker shade of green on hover */
}

.buyer-button {
  background-color: #17a2b8; /* Blue */
  color: white;
}

.buyer-button:hover {
  background-color: #138496; /* Darker shade of blue on hover */
}

.error-message {
  color: red;
  margin-top: 10px;
}

.create-account-button {
  width: 100%;
  padding: 10px;
  background-color: #17a2b8; /* Blue */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-account-button:hover {
  background-color: #138496; /* Darker shade of blue on hover */
}
